
/* login form start */

.login-form{
  font-size: 3rem;
  color:var(--text-color-1);
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form .form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background-color:var(--bg-color-1);
  border:.2rem solid var(--bg-color-2);
  width:50rem;
}

.login-form.form h3{
  font-size: 3rem;
  color:var(--text-color-1);
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.login-form .form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  background-color:var(--bg-color-2);
  color:var(--text-color-1);
  margin:.6rem 0;
  border:.2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
  text-transform: none;
}

.login-form .form .box:focus{
  border-color: var(--theme);
}

.login-form .form #remember{
  margin:2rem 0;
  
  
}
.login-form .form #remember-text{
  color:var(--text-color-1);
}

.login-form .form label{
  font-size: 1.5rem;
}

.login-form .form .btn{
  display: block;
  width:100%;
}

.login-form .form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:var(--text-color-2);
}

.login-form .form p a{
  color:var(--theme);
}

.login-form .form p a:hover{
  color:var(--text-color-1);
  text-decoration: underline;
}

/* login form end */
