body{
    background-color: #12263A;
    background-size: 100%;
   background-position: 0%;
    
}

.students{
    text-align: center;
    border: 5px solid #fa9e2c;
    margin: 200px;
    margin-left: 600px;
    margin-right: 600px;
    font-size: 20px;
    color: #243a50;


  
    
    
    color: rgb(223, 223, 223);


}